@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Kanit", sans-serif;
}

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  min-height: 100%;
  background-color: #ddafaf;
  background-size: cover;
  background-position: center;
} 

.Container {
  width: 100%;
  max-width: 600px;
  text-align: center;
  padding: 20px;
  height: 100%;
  width: 100%;
}

h1 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #020202;

}

.subtitle {
  margin-bottom: 15px;
  color: #020202;
}

.card-count {
  padding: 10px;
  color: #020202;
}

.start-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.start-button {
  padding: 10px 30px;
  font-size: 18px;
  background-color: #333;
  color: rgb(192, 192, 192);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.card-container {
  margin-top: 20px;
}

.card {
  background-color: rgb(151, 151, 151);
  height: 300px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  cursor: pointer;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transform-style: preserve-3d;
}

.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.card-front {
  background-color: rgb(255, 255, 255);
}

.card-back {
  background-color: #dadada;
  transform: rotateY(180deg);
}

.card.flipped {
  transform: rotateY(180deg);
}

.card-content {
  padding: 20px;
  font-size: 20px;
  max-width: 90%;
  color: black;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.nav-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #333;
  color: white;
  font-size: 18px;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s, transform 0.2s;
}

.nav-button:hover {
  background-color: #575757;
  transform: scale(1.1);
}

